# Dependencies
node_modules/

# Build outputs
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
coverage/
*.log